<header>
    <nav class="be-red white large-padding">
        <div class="no-list row center-xs middle-xs">
            <div class="col-md">
                <h1 class="no-margin" id="logo">Aula Virtual</h1>
            </div>
            <div class="col-md">
                <%= link_to "Inicio", root_path%>
            </div>
            <div class="col-md">
                About
            </div>
            <% if user_signed_in? %>
                <div class="col-md">
                    <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %>            
                </div>
                    <% else %>
                        <div class="col-md">
                            <%= link_to "Iniciar Sesion", new_user_session_path %>            
                        </div>
                        <div class="col-md">
                            <%= link_to "Crear Cuenta", new_user_registration_path %>            
                        </div>
            <% end %>
        </div>
    </nav>
</header>