<h1>Inicio#index</h1>
<p>Find me in app/views/inicio/index.html.erb</p>

<%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true%>
<%= javascript_include_tag  'application', 'data-turbolinks' => true%>
<%= csrf_meta_tags %>

